<nz-card [nzTitle]="titleTemplate">
    <form
        nz-form
        nzLayout="vertical"
        [formGroup]="form"
        (ngSubmit)="submitForm()"
    >
        <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 16, lg: 16 }">
            <div nz-col [nzSpan]="4">
                <nz-form-item>
                    <nz-form-label nzRequired nzFor="code">Code</nz-form-label>
                    <nz-form-control
                        nzErrorTip="Please input application code!"
                        nzHasFeedback
                    >
                        <input
                            nz-input
                            formControlName="code"
                            placeholder="Input code"
                        />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="10">
                <nz-form-item>
                    <nz-form-label nzRequired nzFor="name">Name</nz-form-label>
                    <nz-form-control
                        nzErrorTip="Please input application name!"
                        nzHasFeedback
                    >
                        <input
                            nz-input
                            formControlName="name"
                            placeholder="Input name"
                        />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <!-- </div>

    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 16, lg: 16 }"> -->
            <div nz-col [nzSpan]="5">
                <nz-form-item>
                    <nz-form-label nzRequired nzFor="edition"
                        >Edition</nz-form-label
                    >
                    <nz-form-control
                        nzErrorTip="Please input application edition!"
                    >
                        <input
                            nz-input
                            formControlName="edition"
                            placeholder="Input edition"
                        />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="5">
                <nz-form-item>
                    <nz-form-label nzRequired nzFor="version"
                        >Version</nz-form-label
                    >
                    <nz-form-control
                        nzErrorTip="Please input application version!"
                    >
                        <input
                            nz-input
                            formControlName="version"
                            placeholder="Input version"
                        />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <nz-row [nzGutter]="{ xs: 8, sm: 8, md: 16, lg: 16 }">
            <div nz-col [nzSpan]="19">
                <nz-form-item>
                    <nz-form-label nzFor="description"
                        >Description</nz-form-label
                    >
                    <nz-form-control nzErrorTip="Please input description!">
                        <input
                            nz-input
                            formControlName="description"
                            placeholder="Input description"
                        />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="5">
                <nz-form-item>
                    <nz-form-label>Active</nz-form-label>
                    <nz-form-control nzErrorTip="Please input active!">
                        <nz-switch
                            nzSize="small"
                            formControlName="active"
                        ></nz-switch>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </nz-row>

        <!-- <div nz-row [nzGutter]="[16, 16]" nzJustify="end">
            <div nz-col>
                <button
                    nz-button
                    (click)="addRow()"
                    nzType="primary"
                    type="button"
                >
                    Add Application Resource
                </button>
            </div>
        </div> -->

        <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 16, lg: 16 }">
            <div nz-col nzSpan="24" formArrayName="appResources">
                <nz-table
                    #editRowTable
                    nzBordered
                    [nzData]="form!.value.appResources"
                    nzSize="small"
                    nzTableLayout="auto"
                    [nzTitle]="resourceTitleTemplate"
                >
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th nzWidth="10%">Description</th>
                            <th>Type</th>
                            <th>Creatable</th>
                            <th>Updatable</th>
                            <th>Deletable</th>
                            <th>Readable</th>
                            <th>Printable</th>
                            <th>Importable</th>
                            <th>Exportable</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="
                                let data of formArray['controls'];
                                let i = index
                            "
                            [formGroupName]="i"
                            class="editable-row"
                        >
                            <ng-container *ngIf="!isEditing; else editTemplate">
                                <td>{{ data.code }}</td>
                                <td>{{ data.name }}</td>
                                <td>{{ data.description }}</td>
                                <td>{{ data.resourceType }}</td>
                                <td>{{ data.creatable }}</td>
                                <td>{{ data.updatable }}</td>
                                <td>{{ data.deletable }}</td>
                                <td>{{ data.readable }}</td>
                                <td>{{ data.printable }}</td>
                                <td>{{ data.importable }}</td>
                                <td>{{ data.exportable }}</td>
                                <td>
                                    <a (click)="startEdit(i)">Edit</a>
                                    <nz-divider nzType="vertical"></nz-divider>
                                    <a
                                        nz-popconfirm
                                        nzPopconfirmTitle="Sure to delete?"
                                        (nzOnConfirm)="deleteRow(i)"
                                        >Delete</a
                                    >
                                </td>
                            </ng-container>
                            <ng-template #editTemplate>
                                <td>
                                    <input
                                        type="text"
                                        nz-input
                                        formControlName="code"
                                    />
                                </td>
                                <td>
                                    <input
                                        type="text"
                                        nz-input
                                        formControlName="name"
                                    />
                                </td>
                                <td>
                                    <input
                                        type="text"
                                        nz-input
                                        formControlName="description"
                                    />
                                </td>
                                <td>
                                    <input
                                        type="text"
                                        nz-input
                                        formControlName="resourceType"
                                    />
                                </td>
                                <td nzAlign="center">
                                    <label
                                        nz-checkbox
                                        formControlName="creatable"
                                    ></label>
                                </td>
                                <td nzAlign="center">
                                    <label
                                        nz-checkbox
                                        formControlName="updatable"
                                    ></label>
                                </td>
                                <td nzAlign="center">
                                    <label
                                        nz-checkbox
                                        formControlName="deletable"
                                    ></label>
                                </td>
                                <td nzAlign="center">
                                    <label
                                        nz-checkbox
                                        formControlName="readable"
                                    ></label>
                                </td>
                                <td nzAlign="center">
                                    <label
                                        nz-checkbox
                                        formControlName="printable"
                                    ></label>
                                </td>
                                <td nzAlign="center">
                                    <label
                                        nz-checkbox
                                        formControlName="importable"
                                    ></label>
                                </td>
                                <td nzAlign="center">
                                    <label
                                        nz-checkbox
                                        formControlName="exportable"
                                    ></label>
                                </td>
                                <td>
                                    <a (nzOnConfirm)="saveEdit(i)">Save</a>
                                    <nz-divider nzType="vertical"></nz-divider>
                                    <a
                                        nz-popconfirm
                                        nzPopconfirmTitle="Sure to cancel?"
                                        (nzOnConfirm)="deleteRow(i)"
                                        >Cancel</a
                                    >
                                </td>
                            </ng-template>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>

        <nz-divider></nz-divider>

        <div nz-row nzJustify="end" [nzGutter]="[8, 8]">
            <div nz-col>
                <button nz-button nzType="primary" nzAlign="bottom" nzBlock>
                    Submit
                </button>
            </div>
            <div nz-col>
                <button
                    nz-button
                    nzType="default"
                    routerLink="/pages/applications"
                    nzAlign="bottom"
                    nzBlock
                >
                    Cancel
                </button>
            </div>
        </div>
    </form>
</nz-card>

<ng-template #titleTemplate>
    <h2>Application - {{ mode }}</h2>
</ng-template>

<ng-template #extraTemplate>
    <button nz-button (click)="addRow()" nzType="dashed" type="button" nzBlock>
        Add Application Resource
    </button>
</ng-template>

<ng-template #resourceTitleTemplate>
    <nz-row nzJustify="end">
        <nz-col nzSpan="21"><h3>Application Resource</h3></nz-col>
        <nz-col nzSpan="3">
            <button
                nz-button
                (click)="addRow()"
                nzType="dashed"
                type="button"
                nzBlock
            >
                <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
                Add New
            </button>
        </nz-col>
    </nz-row>
</ng-template>

<!-- <div nz-row [nzGutter]="{ xs: 4, sm: 4, md: 8, lg: 8 }" nzAlign="bottom">
        <div nz-col>
            <nz-form-item nzAlign="bottom">
                <nz-form-control nzAlign="bottom">

                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col>
            <nz-form-item nzAlign="bottom">
                <nz-form-control nzAlign="bottom">

                </nz-form-control>
            </nz-form-item>
        </div>
    </div> -->
