<div nz-row>
    <div nz-col nzSpan="8">
        <h1>Applications</h1>
    </div>
    <div nz-col nzSpan="8" nzOffset="8">
        <div nz-row nzJustify="end">
            <div>
                <button nz-button nzType="primary">
                    <i nz-icon nzType="plus-circle" nzTheme="outline"></i> Add
                    New
                </button>
                <!-- <button nz-button nzType="default" nzDanger>
                    <i nz-icon nzType="minus-circle" nzTheme="outline"></i>
                    Delete
                </button> -->
            </div>
        </div>
    </div>
</div>

<nz-table
    nzShowSizeChanger
    nzBordered
    [nzData]="applications"
    [nzFrontPagination]="false"
    [nzLoading]="loading"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="page"
    (nzQueryParams)="onQueryParamsChange($event)"
>
    <thead>
        <tr>
            <th nzColumnKey="code" [nzSortFn]="true">Code</th>
            <th nzColumnKey="name" [nzSortFn]="true" nzCustomFilter>
                Name
                <nz-filter-trigger
                    [(nzVisible)]="visible"
                    [nzActive]="searchValue.length > 0"
                    [nzDropdownMenu]="menu"
                >
                    <i nz-icon nzType="search"></i>
                </nz-filter-trigger>
            </th>
            <th nzColumnKey="description" [nzSortFn]="true">Description</th>
            <th nzColumnKey="edition" [nzSortFn]="true">Edition</th>
            <th nzColumnKey="version" [nzSortFn]="true">Version</th>
            <th
                nzColumnKey="active"
                [nzFilters]="filterActive"
                [nzFilterFn]="true"
                [nzFilterMultiple]="false"
            >
                Active
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of applications">
            <td>{{ data.code }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.description }}</td>
            <td>{{ data.edition }}</td>
            <td>{{ data.version }}</td>
            <td>
                <nz-switch nzSize="small" [ngModel]="data.active"></nz-switch>
            </td>
            <td>
                <div class="icons-list">
                    <i nz-icon [nzType]="'edit'" [nzTheme]="'twotone'"></i>
                    <i
                        nz-icon
                        [nzType]="'delete'"
                        [nzTheme]="'twotone'"
                        [nzTwotoneColor]="'#eb2f96'"
                    ></i>
                </div>
            </td>
        </tr>
    </tbody>
</nz-table>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
        <div class="search-box">
            <input
                type="text"
                nz-input
                placeholder="Search name"
                [(ngModel)]="searchValue"
            />
            <button
                nz-button
                nzSize="small"
                nzType="primary"
                (click)="search()"
                class="search-button"
            >
                Search
            </button>
            <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
    </div>
</nz-dropdown-menu>
<!-- [nzFilters]="filterGender" [nzFilterFn]="true" -->
