<nz-card [nzTitle]="titleTemplate" [nzExtra]="extraTemplate">
    <div nz-row>
        <div nz-col nzSpan="24">
            <nz-table
                nzShowSizeChanger
                nzBordered
                nzSize="small"
                [nzData]="applications"
                [nzFrontPagination]="false"
                [nzLoading]="loading"
                [nzTotal]="total"
                [nzPageSize]="pageSize"
                [nzPageIndex]="pageIndex"
                (nzQueryParams)="onQueryParamsChange($event)"
                [nzShowTotal]="rangeTemplate"
            >
                <thead>
                    <tr>
                        <th nzColumnKey="code" [nzSortFn]="true">Code</th>
                        <th nzColumnKey="name" [nzSortFn]="true" nzCustomFilter>
                            Name
                            <nz-filter-trigger
                                [(nzVisible)]="nameDropdownVisible"
                                [nzActive]="nameSearchValue.length > 0"
                                [nzDropdownMenu]="menu"
                            >
                                <i nz-icon nzType="search"></i>
                            </nz-filter-trigger>
                        </th>
                        <th nzColumnKey="description" [nzSortFn]="true">
                            Description
                        </th>
                        <th nzColumnKey="edition" [nzSortFn]="true">Edition</th>
                        <th nzColumnKey="version" [nzSortFn]="true">Version</th>
                        <th
                            nzColumnKey="active"
                            [nzFilters]="filterActive"
                            [nzFilterFn]="true"
                            [nzFilterMultiple]="false"
                            nzAlign="center"
                        >
                            Active
                        </th>
                        <th nzAlign="center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of applications">
                        <td>
                            <a
                                routerLink="/pages/applications/view/{{
                                    data.id
                                }}"
                                >{{ data.code }}</a
                            >
                        </td>
                        <td>{{ data.name }}</td>
                        <td>{{ data.description }}</td>
                        <td>{{ data.edition }}</td>
                        <td>{{ data.version }}</td>
                        <td nzAlign="center">
                            <nz-switch
                                nzSize="small"
                                [(ngModel)]="data.active"
                                (click)="activate(data.id, data.active)"
                            ></nz-switch>
                        </td>
                        <td nzAlign="center">
                            <div class="icons-list">
                                <a
                                    nz-icon
                                    [nzType]="'edit'"
                                    [nzTheme]="'twotone'"
                                    routerLink="/pages/applications/edit/{{
                                        data.id
                                    }}"
                                    nz-tooltip
                                    nzTooltipTitle="Edit"
                                ></a>
                                <a
                                    nz-icon
                                    [nzType]="'delete'"
                                    [nzTheme]="'twotone'"
                                    [nzTwotoneColor]="'#eb2f96'"
                                    routerLink="/pages/applications/delete/{{
                                        data.id
                                    }}"
                                    nz-tooltip
                                    nzTooltipTitle="Delete"
                                ></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</nz-card>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
        <div class="search-box">
            <input
                type="text"
                nz-input
                placeholder="Search name"
                [(ngModel)]="nameSearchValue"
            />
            <button
                nz-button
                nzType="link"
                nzSize="small"
                [disabled]="!nameSearchValue"
                (click)="resetNameSearch()"
                class="reset-button"
            >
                Reset
            </button>
            <button
                nz-button
                nzSize="small"
                nzType="primary"
                (click)="searchName()"
                class="search-button"
            >
                Search
            </button>
        </div>
    </div>
</nz-dropdown-menu>

<ng-template #titleTemplate>
    <h2>Applications</h2>
</ng-template>

<ng-template #extraTemplate>
    <nz-row nzAlign="middle" [nzGutter]="[8, 8]">
        <nz-col nzSpan="16">
            <nz-input-group
                nzSearch
                [nzAddOnAfter]="suffixIconButton"
                nzCompact
            >
                <input
                    type="text"
                    nz-input
                    placeholder="Search..."
                    [(ngModel)]="customSearchValue"
                />
            </nz-input-group>
            <ng-template #suffixIconButton>
                <nz-input-group nzCompact>
                    <button
                        nz-button
                        nzType="default"
                        nz-tooltip
                        nzTooltipTitle="Reset"
                        (click)="resetCustomSearch()"
                    >
                        <i
                            nz-icon
                            nzType="close-circle"
                            nzTheme="fill"
                            class="ant-input-clear-icon"
                        ></i>
                    </button>
                    <button
                        nz-button
                        nzType="primary"
                        nzSearch
                        nz-tooltip
                        nzTooltipTitle="Search"
                        (click)="searchCustom()"
                    >
                        <i nz-icon nzType="search"></i>
                    </button>
                </nz-input-group>
            </ng-template>
        </nz-col>
        <nz-col nzSpan="8">
            <button
                nz-button
                nzType="primary"
                routerLink="/pages/applications/add"
            >
                <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
                Add New
            </button>
        </nz-col>
    </nz-row>
</ng-template>

<ng-template #rangeTemplate let-range="range" let-total>
    {{ range[0] }}-{{ range[1] }} of {{ total }} items
</ng-template>
