<form nz-form nzLayout="vertical" [formGroup]="form" (ngSubmit)="submitForm()">
    <h1>Application - {{ mode }}</h1>

    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 16, lg: 16 }">
        <div nz-col [nzSpan]="4">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="code">Code</nz-form-label>
                <nz-form-control
                    nzErrorTip="Please input application code!"
                    nzHasFeedback
                >
                    <input
                        nz-input
                        formControlName="code"
                        placeholder="Input code"
                    />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="name">Name</nz-form-label>
                <nz-form-control
                    nzErrorTip="Please input application name!"
                    nzHasFeedback
                >
                    <input
                        nz-input
                        formControlName="name"
                        placeholder="Input name"
                    />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
            <nz-form-item>
                <nz-form-label nzFor="description">Description</nz-form-label>
                <nz-form-control nzErrorTip="Please input description!">
                    <input
                        nz-input
                        formControlName="description"
                        placeholder="Input description"
                    />
                </nz-form-control>
            </nz-form-item>
        </div>
        <!-- </div>

    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 16, lg: 16 }"> -->
        <div nz-col [nzSpan]="4">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="edition"
                    >Edition</nz-form-label
                >
                <nz-form-control nzErrorTip="Please input application edition!">
                    <input
                        nz-input
                        formControlName="edition"
                        placeholder="Input edition"
                    />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="3">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="version"
                    >Version</nz-form-label
                >
                <nz-form-control nzErrorTip="Please input application version!">
                    <input
                        nz-input
                        formControlName="version"
                        placeholder="Input version"
                    />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="1">
            <nz-form-item>
                <nz-form-label>Active</nz-form-label>
                <nz-form-control nzErrorTip="Please input active!">
                    <nz-switch
                        nzSize="small"
                        formControlName="active"
                    ></nz-switch>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 16, lg: 16 }">
        <div nz-col nzSpan="22">
            <nz-table
                #editRowTable
                nzBordered
                [nzData]="listOfData"
                nzSize="small"
            >
                <thead>
                    <tr>
                        <th nzWidth="30%">Name</th>
                        <th>Age</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let data of editRowTable.data"
                        class="editable-row"
                    >
                        <td>
                            <div
                                class="editable-cell"
                                [hidden]="editId === data.id"
                                (click)="startEdit(data.id)"
                            >
                                {{ data.name }}
                            </div>
                            <input
                                [hidden]="editId !== data.id"
                                type="text"
                                nz-input
                                [(ngModel)]="data.name"
                                (blur)="stopEdit()"
                            />
                        </td>
                        <td>{{ data.age }}</td>
                        <td>{{ data.address }}</td>
                        <td>
                            <a
                                nz-popconfirm
                                nzPopconfirmTitle="Sure to delete?"
                                (nzOnConfirm)="deleteRow(data.id)"
                                >Delete</a
                            >
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
        <div nz-col nzSpan="2">
            <button nz-button (click)="addRow()" nzType="default" type="button">
                Add
            </button>
            <button nz-button nzType="primary" nzAlign="bottom">Submit</button>
            <button
                nz-button
                nzType="default"
                routerLink="/pages/applications"
                nzAlign="bottom"
            >
                Cancel
            </button>
        </div>
    </div>

    <!-- <div nz-row [nzGutter]="{ xs: 4, sm: 4, md: 8, lg: 8 }" nzAlign="bottom">
        <div nz-col>
            <nz-form-item nzAlign="bottom">
                <nz-form-control nzAlign="bottom">

                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col>
            <nz-form-item nzAlign="bottom">
                <nz-form-control nzAlign="bottom">

                </nz-form-control>
            </nz-form-item>
        </div>
    </div> -->
</form>
