/* You can add global styles to this file, and also import other style files */

/*
.ant-table-column-sorters {
    display: inline-flex;
    align-items: center;
    padding: 0;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
    padding: 10px 10px !important;
}
*/
.module-heading {
    font-size: xx-large;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    margin-top: 0;
    margin-bottom: 0;
}

.input-group-suffix-addon {
    padding: 0 !important;
    border: 0 !important;
}

.ant-col-24.ant-form-item-label,
.ant-col-xl-24.ant-form-item-label,
.ant-form-vertical .ant-form-item-label {
    padding: 0 0 0;
}

.ant-form-item {
    margin: 0 0 8px;
}

.ant-layout-content {
    flex: auto;
    min-height: auto;
}

.ant-card-head-title {
    padding: 8px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}
