form {
    align-content: center;
}

.login-form {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    position: relative;
}

.container {
    position: absolute; /* 2 */
    top: 50%; /* 3 */
    transform: translate(0, -50%);
    min-width: 100%;
}

.login-form-margin {
    margin-bottom: 16px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

.login-message-container {
    border-radius: 5px;
    border: 1px solid #df0000;
    margin: 0 0 10px 0;
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.border-inner {
    background-color: #fff;
    box-shadow: 0 0 0 4px #fcf4f4 inset;
    border-radius: 5px;
    padding: 5px 5px;
}

.text-alert {
    color: #df0000;
}
