// Here you can add other styles
.switch-align-middle {
  top: 0.5rem;
}

.switch {
  display: inline-block !important;
  vertical-align: middle;
}

// .table th,
// .table td {
//   padding: 0.5rem !important;
// }

.table thead th {
  vertical-align: middle;
}
