<!-- <div class="row">
  <div class="col-lg-12"> -->
<div class="card">
  <div class="card-header align-items-center">
    <span><i class="cui-monitor icons"></i> Application List</span>
    <div class="card-header-actions">
      <!-- <button type="button" class="card-header-action btn btn-link btn-setting">
            <i class="icon-settings"></i>
          </button> -->
      <button type="button" class="card-header-action btn btn-link btn-minimize" (click)="toggleCollapse()">
        <i class="{{ iconCollapse }}"></i>
      </button>
      <!-- <button type="button" class="card-header-action btn btn-link btn-close"><i class="icon-close"></i></button> -->
    </div>
  </div>
  <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed" class="card-body">
    <p *ngIf="!applications">Loading...</p>
    <div class="row align-items-center">
      <div class="col form-group input-group">
        <input type="text" class="form-control" placeholder="Search..." [ngModel]="searchString" />
        <span class="input-group-append">
          <button type="button" class="btn btn-secondary"><i class="icon-magnifier"></i></button>
        </span>
      </div>
      <div class="col form-group align-items-center">
        <div class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn btn-ghost-dark dropdown-toggle">
            Filter by Status: {{ activeFilter }} <span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem">
              <a class="dropdown-item" [routerLink]="" (click)="onStatusFilterClick('active')">Active</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" [routerLink]="" (click)="onStatusFilterClick('inactive')">Inactive</a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem">
              <a class="dropdown-item" [routerLink]="" (click)="onStatusFilterClick('both')">Both</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-auto form-group">
        <button type="button" class="btn btn-success" (click)="onItemClick('add', '')">
          <i class="icon-plus"></i> Add New
        </button>
        <button type="button" class="btn btn-danger"><i class="icon-minus"></i> Delete</button>
      </div>
    </div>
    <table
      class="table table-responsive-lg table-bordered table-striped table-sm"
      aria-labelledby="tableLabel"
      *ngIf="applications"
    >
      <thead>
        <tr class="align-items-center">
          <th class="align-middle" style="text-align: center;"><input type="checkbox" /></th>
          <th>Application Code</th>
          <th>Application Name</th>
          <th>Description</th>
          <th>Edition</th>
          <th>Version</th>
          <th style="text-align: center;">Status</th>
          <th style="text-align: center;">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let app of applications">
          <td class="align-middle" style="text-align: center;"><input type="checkbox" /></td>
          <td class="align-middle" style="width: 200px;">
            <a [routerLink]="" (click)="onItemClick('view', app.id)"> {{ app.code }} </a>
          </td>
          <td class="align-middle">{{ app.name }}</td>
          <td class="align-middle">{{ app.description }}</td>
          <td class="align-middle">{{ app.edition }}</td>
          <td class="align-middle">{{ app.version }}</td>
          <td class="align-middle" style="width: 75px; text-align: center;">
            <label class="switch switch-label switch-pill switch-primary switch-sm mb-0">
              <input type="checkbox" class="switch-input" [(ngModel)]="app.active" />
              <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
            </label>
          </td>
          <td class="align-middle align-items-center p-0 m-0" style="width: 75px; text-align: center;">
            <!-- <div class="btn-group btn-block p-0 m-0" role="group" aria-label="Actions"> -->
            <button
              type="button"
              class="btn btn-link btn-lg text-warning p-0 m-0 mr-1"
              role="button"
              tooltip="Edit"
              (click)="onItemClick('edit', app.id)"
            >
              <i class="fa fa-edit"></i>
            </button>
            <button
              type="button"
              class="btn btn-link btn-lg text-danger p-0 m-0"
              role="button"
              tooltip="Delete"
              (click)="onItemClick('delete', app.id)"
            >
              <i class="fa fa-trash"></i>
            </button>
            <!-- </div> -->
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row mb-0 align-items-center">
      <div class="col form-group align-items-center">
        <span>1-5 of 14</span>
      </div>
      <div class="col-auto form-group align-items-center">
        <div class="form-inline">
          <span class="mr-2">Show</span>
          <select class="form-control mr-2">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
          <span>items</span>
        </div>
      </div>
      <div class="col-auto form-group">
        <ul class="pagination mb-0">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<!--/.col-->
<!-- </div> -->
<!--/.row-->
